.search-field {
    width: 100%;
    margin: 15px auto;
    text-align: center;

    .search-field__search {
        width: 50%;
        max-width: 680px;
        height: 25px;
        font-size: 16px;
        margin: 0 auto;
        padding: 5px 5px 5px 15px;
        border: 2px solid lightgrey;
        border-radius: 10px;
        outline: none;

        @media screen and (max-width: 700px) {
            height: 18px;
            font-size: 12px;
        }
    }

    .search-field__search:focus {
        border-color: dodgerBlue;
    }
}

.help {
    text-align: left;
    color: grey;
    padding-left:18px;
    font-size: 10px;

    .helpTextHeading {
        text-decoration: underline;
        margin-bottom: 0;
        padding: 0;
    }

    .helpText {
        padding-left: 5px;
    }
}

